*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.app-container {
    height: 100vh;
    background-color: rgba(28, 39, 60, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.app-header {
    background-color:rgba(28, 39, 60, 1);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5vh 15px;
}

.header-text{
    color: rgba(233, 197, 151, 1);
    font-family: 'Open Sans';
    font-weight:800;
    font-size: 32px;
}
.app-workspace {
    background-color: rgba(28, 39, 60, 1);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
    width: 70vw;
    height: 70vh;
    font-family: 'Open Sans';
}

.surface {
    background-color: rgba(53, 66, 89, 1);
    border-radius: 13px;
    box-shadow: 0px 3px rgba(68, 160, 160, 1);
}

.app-workspace-categories-bar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.left-line{
    background-color: #F6F6F6;
    flex-grow: 1;
    height: 1px;
}

.title{
    color: #F6F6F6;
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
}

.title p{
    margin: 10px;
}

.right-line{
    background-color: #F6F6F6;
    height: 1px;
    flex-grow: 1;
    border: 1px;
}

.category{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 5;
    justify-content: stretch;
    gap:5px;
    padding: 0px 20px 0px 20px;
}

.Comlited-button{
    background-color: rgba(76, 175, 80, 1);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    color: white
}

.Urgent-button{
    background-color: rgba(255, 82, 82, 1);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    color: white
}

.Important-button{
    background-color: rgba(255, 193, 7, 1);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    color: white
}

.Later-button{
    background-color: rgba(156, 39, 176, 1);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    color: white
}

.To-study-button{
    background-color: rgba(38, 167, 184, 1);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    color: white
}

.add-category-batton{
    background-color: rgba(68, 160, 160, 1);
    margin: 0px 30px 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 20px;
    color: white
}

.app-workspace-tasks-bar {
    background-color:rgba(28, 39, 60, 1);
    display: flex;
    flex-direction: column;
    flex-grow: 10;
    border-radius: 10px;
    gap: 10px;
}


.app-workspace-tasks-bar-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.tasks-text{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    color: rgba(68, 160, 160, 1);
    flex-grow: 1;
    margin: 0px 0px 0px 20px;
}

.add-new-task{
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: rgba(68, 160, 160, 1);
    border-radius: 10px;
    cursor: pointer;
    color: white
}

.clear-completed-text{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    color: rgba(68, 160, 160, 1);
    flex-grow: 0;
    margin: 0px 20px 0px 20px;
}

.app-workspace-tasks-bar-body {
    background-color: rgba(53, 66, 89, 1);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 12;
}

.app-workspace-task-list {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}

.task{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid white;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.task p {
    width: 100%;
}


.app-workspace-tasks-bar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-btn{
    font-family: 'Open Sans';
    font-weight: 800; 
    font-size: 20px;
    color: rgba(68, 160, 160, 1);
}

.all-btn{
    color:rgba(246, 246, 246, 1);
    font-family: 'Open Sans';
    font-weight: 800; 
    font-size: 20px;
    margin: 0px 21px 0px 21px;
}

.completed-btn{
    color: rgba(68, 160, 160, 1);
    font-family: 'Open Sans';
    font-weight: 800; 
    font-size: 20px;
}
