*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-container {
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.app-header {
    background-color: green;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5vh 15px;
}

.app-workspace {
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70vw;
    height: 70vh;
}

.app-workspace-categories-bar {
    background-color: burlywood;
    flex-grow: 1;
    height: 100%;
}

.app-workspace-tasks-bar {
    background-color:chocolate;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    height: 100%;
}

.app-workspace-tasks-bar-header {
    background-color: gold;
}
.app-workspace-tasks-bar-body {
    background-color: silver;
}
.app-workspace-tasks-bar-footer {
    background-color: brown;
}